<div id="wrapper">
    <div id="main">
        <article class="post">
            <form ng-submit="signIn()">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" ng-model="credentials.username" name="username" id="username" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input ng-hide="showpassword" type="password" ng-model="credentials.password" name="password" id="password" required>
                </div>
            <input type="submit" value=" login"> <button ui-sref="register">Sign Up</button>
            </form>
        </article>
    </div>
</div>