<div id="wrapper">
    <div id="main">
        <article class="post">
            <form ng-submit="signUp()">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" ng-model="credentials.username" name="username" id="username" required>
                </div>
                <div>
                    <label for="firstName">FirstName:</label>
                    <input type="text" ng-model="credentials.name" name="firstName" id="firstName" required>
                </div>
                <div>
                    <label for="lastName">LastName:</label>
                    <input type="text" ng-model="credentials.surname" name="lastName" id="lastName" required>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input  ng-hide="showpassword" type="password" ng-model="credentials.password" name="password" id="password" required>
                </div>
                <input type="submit" value="sign up">
            </form>
        </article>
    </div>
</div>