<head>
    <meta charset="UTF-8">
    <title>My challenges </title>
</head>

<div id="categories">
    <div class="title">
        New challenges
    </div>
    <div ng-repeat="c in newchallenges">
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <img src="images/small_exclamation.jpg" alt="" />
                    <h2><a href="#">{{c.name}}</a></h2>
                </div>
                <div class="meta">
                    <img ng-src="images/{{c.image}}" alt="" />
                    <time class="published" datetime="2015-10-25">March 18, 2016</time>
                </div>
            </header>
        </article>
    </div>

    <div class="title">
        Accepted challenges
    </div>
    <div ng-repeat="c in acceptedchallenges">
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">{{c.name}}</a></h2>
                </div>
                <div class="meta">
                    <img ng-src="images/{{c.image}}" alt="" />
                    <time class="published" datetime="2015-10-25">March 18, 2016</time>
                </div>
            </header>
        </article>
    </div>

    <div class="title">
        Rejected challenges
    </div>
    <div ng-repeat="c in rejectedchallenges">
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">{{c.name}}</a></h2>
                </div>
                <div class="meta">
                    <img ng-src="images/{{c.image}}" alt="" />
                    <time class="published" datetime="2015-10-25">March 18, 2016</time>
                </div>
            </header>
        </article>
    </div>

    <div class="title">
        Finished challenges
    </div>
    <div ng-repeat="c in finishedchallenges">
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#">{{c.name}}</a></h2>
                </div>
                <div class="meta">
                    <img ng-src="images/{{c.image}}" alt="" />
                    <time class="published" datetime="2015-10-25">March 18, 2016</time>
                </div>
            </header>
        </article>
    </div>


</div>




